[Link to Live Lecture](https://colab.research.google.com/drive/1botz97EqIc6xOlrnOc5TXVgt3cmAaDcz)
# Review from previous lecture

1.  Conditionals
  - if statements
  - elif & else statments
2. While Loops

Lets consider that we may want to store many of these variables in a single data structure

### Goals:
- Explore For loops
- How do we store many pieces of data in a single structure?
- What kind of structures do we have available to us?
- How can we manipulate these datastructures and use the data in them?
- Remember **list** is a protected keyword!!
----

# 3.0 Collections and Iteration
### Collection = Holding data
### Iteration = Going through data in Collection

**Collections** are a class of data types that gather together conceptually related data into a whole. 

**Examples:**
- lists
- sets
- tuples
- dictionaries

#### Question?  What are the differences between these collections? 


We will discuss four main types of collections in the next two lectures: **lists, tuples, sets, and dictionaries**

This lecture will focus mainly on Lists & Tuples

The following lecture will focus mainly on Sets and Dictionaries

**Iteration** is the process of visiting each member of a collection, and taking an action on it. 

For example, we could visit all the strings in a list and join the various words into a sentence, or we could visit all the numbers in a set and calculate the sum of them all.

-----
## 3.10 Lists

- list notation:
` [.....]`

#### What can go inside a list?

- Numbers
- Strings
- Numbers and strings
- Other lists (matrix)

In [0]:
lst1 = [1,2,3,4]
lst2 = ['strings','can','go','in','lists']
lst3 = ['strings', 'and',3,4,5]
lst4 = ['pretty much anything can go in here!']

### 3.11 What is the length of a list
- The number of pieces of data that we are storing in the list
- Try this in your own notebook!

In [0]:
# Length of a list
list1 = [1,2,3,4]
print(len(list1))

2

#### Your Turn
In your own notebook:
1. Create a list (put whatever you want in it)
2. Find the length of the list

**Challenge: Using the length of the list and algebraic operations, make the notebook print out the number 6 (without the length of the list being 6)**

### 3.20 Indexing a list 

- The index refers to the location that data point is at

For example with out list `lst1 = [1,2,3,4]` the number `1` is at the 0th index and the number `4` is at the 3rd index.  Lets explore this a little more

In [3]:
# Create a new list:
lst = [1,2,3,4]

# Print the item at index 0
print('The item at index 0 is:',lst1[0])

The item at index 0 is: 1

#### 3.21 Zoom Poll!
##### Lets say that we have the following list:

`lst = [10,3,4,2,50,22,18,19]`

- What index is 10 at?

- What index is 50 at?

- What code would I use to get the numbers `[4,2,50,22]`?

### 3.30 Common Methods that can be applied to a list:

#### 3.31 Appending to a list 

You can add to the end of a list using the append method! 

`lst.append(number)`


#### 3.32 Inserting into a specific index

Inserts the element at the given index, shifting elements to the right.

`list.insert(index, elem)`

#### 3.33 Extending a list

Adds the elements in list2 to the end of the list.

`list.extend(list2) `

You can append as may numbers as you like to a list, but if your list get HUGE you will find it slows down operations dramatically

In [4]:
lst = [1,2,3]
print('Here is the list: ',lst)
lst.append(10)
print('Here is the list with a number appended to it! ',lst)

Here is the list:  [1, 2, 3]
Here is the list with a number appended to it!  [1, 2, 3, 10]

#### Your turn!  (In your notebook)
1. Create a list **(Dont use the name list -- Its protected)**
2. Insert a value into the front of the list
3. Append a value to back of the list
4. Insert a value in the middle of the list (you pick the index)
5. Extend your list with a list that someone else made!

## 3.40 The `In` operator
We can use the in operator to see if a number exists in our list

This will return a true or false answer

In [5]:
#Create the list 
lst = [10,3,4,2,50,22,18,19]

# is 4 in the list?
print(4 in lst)

# is 33 in the list?
print(33 in lst)

# is hello in the list?
print('hello' in lst)

# Place holder
print('--'*50)

# putting together conditionals and in operator
if 4 in lst:
  print('Wow I can use the in operator to generate booleans!')

True
False
False
----------------------------------------------------------------------------------------------------
Wow I can use the in operator to generate booleans!

### 3.41 Your turn

1. Create a new list
2. Check to see if 'Cat' is in your list
  - If it isn't add 'Cat' to your list
  - if it is print 'I read Elliott's mind and added cat to my list'
 
Play with the in operator and see if it works with floats, integers, and strings!

This is super useful for if statments:

`if number in lst:
    use number in sum`

---------

## 3.50 Iterating through a list!
We can go through each number in the list using a for loop!  And also we can go through each index in the list

**Start with iterating through each value in a list**
- number refers to the value in the list

In [6]:
lst1 = [1,2,3,4]
for number in lst1:
    print(number)

1
2
3
4

Or we could iterate through the numbers using the **index!!**

- i refers to the index of the lst

In [7]:
lst1 = [1,2,3,4]
for i in range(len(lst1)):
    print(lst1[i])

1
2
3
4

Or we could iterate through both of these at the same time using the `enumerate` command:

In [8]:
lst1 = [1,2,3,4]
for i,number in enumerate(lst1):
    print('index: ',i,'|| Value: ',number)

index:  0 || Value:  1
index:  1 || Value:  2
index:  2 || Value:  3
index:  3 || Value:  4

#### 3.51 Your Turn!
1. Create a new list (with numbers in it)
2. Create a new empty list
3. Iterate through the list with numbers and square each value
4. Append the squared value to the end of the empty list
5. Print the new list with the squared numbers

**Challenge: Complete the task above once using the index of the list and once using the values in the list**

----------------
##  3.60 Tuples!
- Notation!`(.....)`

- Length is the same as lists!
- Indexing is the same as lists!
- Lists can be changed -- Tuples cannot (Mutability, vs Immutable)

In [9]:
# Mutability Example
lst1 = [1,2,3,4] 
lst1[0] = 10
print(lst1)

[10, 2, 3, 4]

In [10]:
# Immutable Example (continued below)
tup1 = (1,2,3)
print(tup1[0])

1

In [11]:
tup1[0] = 3

TypeError: ignored

#### 3.61  Immutable


Error -- Can't change the values in the tuple!

- Can have a list of tuples!

In [0]:
lst = [(1,2),(2,3),(3,4)]

- Tuples can be any length
- Useful for holding `x,y` pairs or `x,y,z,...` pairs

-----

Iteration works the same with tuples!  
 
- Look at iterating through one tuple

In [12]:
tup1 = (1,2,3)
for value in tup1:
    print(value)

1
2
3

- Look at iterating through list of tuples:

In [13]:
# Create a list of tuples 
lst = [(1,2),(2,3)]

# For each tuple in the list
for tup in lst:
  
    print('\nPrinting Tuple Values\n','--'*10,)
    
    # Go through each value in the tuples
    for i,value in enumerate(tup):
        print('Tuple index ',i,' = ', value)

Printing Tuple Values
 --------------------
Tuple index  0  =  1
Tuple index  1  =  2

Printing Tuple Values
 --------------------
Tuple index  0  =  2
Tuple index  1  =  3

** 3.70 Assignment**
1. Make a list of tuples
2. Iterate through your list
3. Create a new tuple that is the reverse of each of your tuples and add it to a new list
4. Print the original and new list of tuples

Example:

 ``` 
 original = [(1,2),(2,3)]
 transformed = [(2,1),(3,2)]
 ```